@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-glow {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.02);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse-border {
  0% {
    border-color: rgba(79, 70, 229, 0.4);
    box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.4);
  }

  50% {
    border-color: rgba(79, 70, 229, 0.8);
    box-shadow: 0 0 20px 5px rgba(79, 70, 229, 0.2);
  }

  100% {
    border-color: rgba(79, 70, 229, 0.4);
    box-shadow: 0 0 0 0 rgba(79, 70, 229, 0.4);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite ease-in-out;
}

.animate-pulse-border {
  animation: pulse-border 2s infinite ease-in-out;
}

@keyframes breathing-slow {

  0%,
  100% {
    border-color: #2048FF !important;
    border-width: 3px !important;
    background-color: rgba(32, 72, 255, 0.05) !important;
    box-shadow:
      0 0 10px rgba(32, 72, 255, 0.4),
      0 0 20px rgba(32, 72, 255, 0.2),
      inset 0 0 10px rgba(32, 72, 255, 0.1) !important;
  }

  50% {
    border-color: rgba(32, 72, 255, 0.3) !important;
    border-width: 3px !important;
    background-color: white !important;
    box-shadow:
      0 0 5px rgba(32, 72, 255, 0.1),
      0 0 0px rgba(32, 72, 255, 0) !important;
  }
}

.animate-breathing-slow {
  animation: breathing-slow 2s infinite ease-in-out !important;
}

@keyframes flash-intense {

  0%,
  100% {
    border-color: rgba(32, 72, 255, 1) !important;
    box-shadow: 0 0 20px rgba(32, 72, 255, 0.4) !important;
  }

  50% {
    border-color: rgba(32, 72, 255, 0.2) !important;
    box-shadow: 0 0 5px rgba(32, 72, 255, 0.1) !important;
  }
}

.animate-flash-intense {
  animation: flash-intense 1.5s infinite ease-in-out !important;
}